.App {
	/* text-align: center; */
	position: relative;
	display: flex;
}

.intro-page {
	background-color: red;
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hotel-bkg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

/* .play-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
} */

.start-game {
	color: white;
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 700;
	background-color: darkred;
	padding: 0.5rem;
	transform: rotate(15deg);
}
.hello-card {
	/* background-color: beige; */
	width: 60vw;
	height: 75vh;
	display: flex;
	position: absolute;
}

.postcard {
	position: absolute;
	width: 100%;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.text-container {
	display: flex;
	max-height: 50vh;
}

.postcard-text {
	/* position: absolute; */
	z-index: 1000;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 0.8rem;
	line-height: 1.5rem;
	width: 40%;
	padding: 2.5rem;
	padding-top: 5rem;
}

.the-address {
	z-index: 1000;
	padding: 3rem;
	text-align: center;
	padding-left: 7rem;
	padding-top: 10rem;
	font-size: 1.5rem;
	font-family: "Courier New", Courier, monospace;
}

.scene1 {
	background-color: #4f0404;
	width: 100vw;
	height: 100vh;
	/* display: flex; */
}

.scene1-objects {
	position: relative;
	/* display: flex; */
	justify-items: center;
	width: 100%;
	align-items: center;
	/* width: 100vw;
	height: 100vh; */
}

.welcome-text {
	position: absolute;
	font-size: 4rem;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: white;
	margin-left: 30rem;
	margin-right: 10rem;
	margin-top: 38rem;
	z-index: 1100;
}

.poster-scene1 {
	width: 230px;
	height: 300px;
	/* border: 6px red solid; */
	background-color: #3e617b;
	position: absolute;
	margin: 5rem;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.quote {
	/* color: blueviolet; */
	z-index: 200;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0.9rem;
	font-size: 1.4rem;
	font-family: "Courier New", Courier, monospace;

	/* object-fit: contain; */
}

.quote-number {
	text-align: center;
}

.bell {
	width: 130px;
	position: absolute;
	margin-left: 52rem;
	margin-top: 23rem;
	z-index: 900;
}

.face {
	width: 380px;
	position: absolute;
	margin-left: 30rem;
	margin-top: 1.2rem;
}

.desk {
	width: 1000px;
	/* text-align: center; */
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 28rem;
	position: absolute;
	/* top: 100%;
	transform: translateY(-100%); */
}

.key {
	width: 10%;
	position: absolute;
	margin-top: 300px;
	margin-left: 570px;
	z-index: 1500;
}

.key:hover {
	transform: scale(1.1);
	transition: 1s;
}

.bubble-container {
	position: relative;
}

.bubble {
	border-radius: 5px;
	background-color: wheat;
	width: 300px;
	/* margin: 5rem; */
	position: absolute;
	margin-top: 20%;
	margin-left: 10%;
	padding: 2rem;
	z-index: 1200;
	text-align: center;
	font-size: 1.5rem;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
}
.bubble2 {
	border-radius: 5px;
	background-color: wheat;
	width: 300px;
	/* margin: 5rem; */
	position: absolute;
	margin-top: 25%;
	margin-left: 60%;
	padding: 2rem;
	z-index: 1200;
	text-align: center;
	font-size: 1.5rem;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.next-btn {
	border: none;
	text-decoration: none;
	background-color: darkblue;
	color: white;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 5px;
	font-size: 1.4rem;
}

.small-title {
	font-size: 1rem;
	font-style: oblique;
}

.input {
	padding: 1rem;
	margin: 1rem;
}

.scene2 {
	background-color: green;
	/* width: 100vw; */
	height: 100vh;
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
}

.key-holes-container {
	position: absolute;
	margin-left: 2rem;
	padding: 2rem;
	width: 300px;
}
.key-holes-container-2 {
	position: absolute;
	margin-top: 20rem;
	margin-left: 0rem;
	padding: 4rem;
	width: 300px;
}
.key-holes-container-3 {
	position: absolute;
	margin-top: 7rem;
	margin-left: 4rem;
	padding: 1rem;
	width: 300px;
}

.first-hole {
	z-index: 1000;
	width: 35px;
	height: 35px;
	position: absolute;
	margin-top: 20rem;
	margin-left: 1.9rem;
}

.first-hole:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.hole {
	width: 40px;
	height: auto;
	padding: 2rem;
	cursor: pointer;
}
.hole-2,
.hole-3 {
	width: 45px;
	height: auto;
	padding: 2rem;
	cursor: pointer;
}

.hole-3 {
	margin: 2rem;
}

.hole:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.final-hole {
	z-index: 1500;
	width: 80px;
	cursor: pointer;
	margin-top: 15rem;
	margin-left: 7.5rem;
	position: absolute;
}

.final-hole:hover {
	transform: scale(1.1);
	transition: 1s;
}

.numbers {
	font-size: 2rem;
	text-align: center;
	color: rgb(233, 141, 87);
	font-family: monospace;
	font-weight: 700;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	width: 300px;
}

.doors {
	display: flex;
	justify-content: space-around;
	position: absolute;
	margin: 2rem;
}

.door1,
.door2,
.door3 {
	margin: 1.5rem;
	/* display: block; */
	/* position: absolute; */

	/* width: 700px; */
}

.door-img {
	width: 300px;
}

.Clue {
	position: absolute;
	transform: rotate(-15deg);
	margin-top: 10rem;
	z-index: 1000;
	color: magenta;
	font-size: 2rem;
}

.scene-3 {
	/* background-color: blue; */
	width: 100vw;
	height: 100vh;
	position: relative;
}

.riddle-input {
	position: absolute;
	/* background-color: blanchedalmond; */
	margin-left: 35rem;
	margin-top: 30rem;
	width: 300px;
	opacity: 0.8;
	font-size: 2rem;
	cursor: pointer;
	z-index: 2000;
}

input {
	text-decoration: none;
}

.riddle-input:hover {
	opacity: 1;
}

.poster-scene3 {
	transform: skew(0deg, -30deg);
	width: 180px;
	height: 300px;
	/* border: 6px red solid; */
	background-color: #70a9d3;
	position: absolute;
	margin: 4rem;
	margin-top: 9rem;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.poster-scene3:hover {
	background-color: #6fb4e6;
}

.poster-1 {
	position: absolute;
	width: 120px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-left: 40rem;
	margin-top: 12rem;
	/* cursor: pointer; */
}
.poster-2 {
	position: absolute;
	z-index: 1200;
	width: 200px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-left: 22rem;
	margin-top: 7rem;
	cursor: pointer;
	opacity: 1;
}
.poster-2:hover {
	opacity: 0;
}
.poster-2-2 {
	position: absolute;
	width: 200px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-left: 22rem;
	margin-top: 7rem;
	cursor: pointer;
}

.poster-3 {
	position: absolute;
	z-index: 1600;
	width: 220px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-left: 52rem;
	margin-top: 5rem;
	cursor: pointer;
	opacity: 1;
}
.poster-3:hover {
	opacity: 0;
}
.poster-3-3 {
	position: absolute;
	z-index: 1500;
	width: 220px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-left: 52rem;
	margin-top: 5rem;
	cursor: pointer;
}
.poster-4 {
	position: absolute;
	width: 160px;
	height: 280px;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	margin-left: 85vw;
	margin-top: 10rem;
	cursor: pointer;
	transform: skew(0deg, 30deg);
}

.plant {
	position: absolute;
	z-index: 1200;
	width: 280px;
	margin-left: 63rem;
	margin-top: 0rem;
}
.bed {
	position: absolute;
	z-index: 1700;
	width: 980px;
	margin-left: 12rem;
	margin-top: 18rem;
}

.next-level-button {
	position: absolute;
	margin-left: 30rem;
	margin-top: 15rem;
	background-color: yellow;
	width: 30vw;
	height: 30vh;
	border-radius: 10px;
	font-size: 3rem;
	z-index: 2200;
	cursor: pointer;
	font-family: "Courier New", Courier, monospace;
}

.next-level-button:hover {
	transform: scale(1.1);
	transition: 1s;
}

.quote-scene-3 {
	z-index: 200;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 0.9rem;
	margin-top: 4rem;
	font-size: 1.3rem;
	font-weight: 700;
	font-family: "Courier New", Courier, monospace;
}
